body
{   
    background-color: lightblue;
    transition: background-color 0.5s ease-in-out;
}

.card
{
    transition: all 0.3 ease;
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #f8f9fa;
    border: 1px solid #0d63fd;
}

.card-img-fixed
{
    height: 200px;
    object-fit: cover;
}